<div class="recipe__card animate__animated animate__fadeIn"> 
  <img [src]="meal.strMealThumb" alt="photo recipe" class="recipe_img animate__animated" (load)="onImagenLoad()">
  <div class="recipe__content">
    <span class="recipe__description">
      Dairy Free
    </span>
    <h2 class="recipe__name">
      {{ meal.strMeal }}
    </h2>
    <span class="recipe__time">
      free
    </span>
    <a [routerLink]="[meal.idMeal]" class="recipe__more">
      <img src="../../../../assets/img/icons/more.svg" alt="recipes" />
    </a>

    <!-- Botón para compartir la receta -->
    <button (click)="shareRecipe()" class="recipe__share-button">
      Compartir
    </button>
  </div>
</div>
