<main class="shared-recipe container">
    <h1 class="shared-recipe__title">{{ recipe?.title }}</h1>
    <div class="shared-recipe__details">
      <img [src]="recipe?.thumbnail" alt="{{ recipe?.title }}" class="shared-recipe__image" />
      <div class="shared-recipe__info">
        <h2>Categoría: {{ recipe?.category }}</h2>
        <p><strong>Origen:</strong> {{ recipe?.area }}</p>
        <h3>Ingredientes:</h3>
        <ul>
          <li *ngFor="let item of ingredientsWithMeasures">
            {{ item.ingredient }} - {{ item.measure }}
          </li>
        </ul>
      </div>
    </div>
    <div class="shared-recipe__instructions">
      <h3>Instrucciones:</h3>
      <p>{{ recipe?.instructions }}</p>
    </div>
  </main>
  